- var url = "http://localhost:3000/"
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Sistema Inmobiliario - PCYA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel='stylesheet')
        link(href='default.css', rel='stylesheet', type='text/css', media='all')
        link(href='fonts.css', rel='stylesheet', type='text/css', media='all')
        script.
            function deleteLegajo(legajo){
                var xhttp = new XMLHttpRequest();
                xhttp.open('DELETE', '/?legajo='+legajo, true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send('legajo='+legajo);
                xhttp.addEventListener('load', function(err){
                    if(xhttp.responseText=='1'){
                        alert("Registro: "+legajo+" eliminado");
                        window.location.reload(true);
                    }
                });
            }
            function expand(str){
                    var copy = document.getElementById(str);
                    if(copy.style.display == "block")
                        copy.style.display = "none";
                    else copy.style.display="block";
            }
    body
        #header-wrapper
            #header.container
                img(src='LOGOPCYA.jpg', width='182', height='100')
                |     
                #menu
                    ul
                        li.current_page_item
                            a(href=url, accesskey='1', title='') Inicio PCYA
                        |         
                        li
                            a(href=url+'estacion/?id=1', accesskey='2', title='') Ofrecimientos
                        |         
                        li
                            a(href=url+'estacion/?id=2', accesskey='3', title='') Requerimientos
                        |         
                        li
                            a(href=url+'mercadolibre', accesskey='4', title='') MercadoLibre
        #wrapper
            form#busq(action=url, method='get')
                input#busqueda(type="text", name="busq", placeholder="Busqueda...")
                input(type='submit', value='Buscar')
            #extra.container
                h2 #{data.titulo}
                |     
                span
                    |  Alta, baja, modificación y listado
            #legajos
                table
                    thead
                        tr
                            td(width="150px") Legajo
                            td Operación
                            td Nombre Inmueble
                            td Oferente
                            td Estado
                            td(width="100px") Fecha        
                            td País
                            td(class="botonera") Acciones
                    tbody
                        for legajo in data.legajos
                            tr
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.LEGAJO
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.OPERACION
                                td 
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.NOMBRE_INM
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.OFER_REQUE
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.ESTADO
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo["DATE_FORMAT(FECHA,'%Y-%m-%d')"]
                                td
                                    a(href=url+"legajos/"+legajo.LEGAJO, onclick="", class="rowlink")= legajo.PAIS
                                td(class="botonera")
                                    button(class="button3", onclick="deleteLegajo('"+legajo.LEGAJO+"')") Baja
                                    button(class="button2") Modif.
            button(class="button1", onclick="expand('formulario')") Añadir
        #formulario
            form(action=url, method='post')
                    label Tipo de Operación
                       select(name="TIPO_OPERA")
                          option(value="AL") AL - Alquiler
                          option(value="CV") CV - Compraventa
                    label País
                        select(name="PAIS")
                              each pais, codigo in data.paises
                                  option(value=codigo) #{codigo} - #{pais}
                    label Tipo de inmueble
                        select(name="TIPO_INMU")
                            for tipo, clave in data.tipo_inmue
                                option(value=clave) #{clave} - #{tipo}
                    label Provincia
                        select(name="ZONA")
                            for provincia, clave in data.provincias
                                option(value=clave) #{clave} -  #{provincia}
                    label Ofrecimiento/Requerimiento
                        select(name="OFR")
                            option(value="1") Ofrecimiento
                            option(value="2") Requerimiento
                    input(type="submit", value="Crear")
